@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*colores principales*/
/*6*/
/*medidas*/
.color-nav {
  background-color: #FFA4B4;
}

.letras-nav {
  color: black;
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
}

@media screen and (max-width: 574px) {
  .letras-nav {
    font-size: 1em;
  }
}
#wpp {
  position: fixed;
  bottom: 24px;
  right: 30px;
}

footer {
  background-color: pink;
  padding: 70px 0;
  margin-top: 10%;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: red;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: black;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: pink;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: pink;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
}

/*letters*/
.encabezado {
  display: flex;
  justify-content: start;
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 4em;
  margin-top: 6%;
}

.encabezado-1 {
  display: flex;
  width: 100%;
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 4em;
  margin-top: 6%;
  margin-right: 2%;
}

.palabra-link {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 1em;
  margin-left: 1%;
  text-decoration: underline;
}

.palabra-link-2 {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 1em;
  margin-left: 1%;
  text-decoration: underline;
}

/*img*/
.img-index {
  display: flex;
  width: 100%;
}

.imagen-index-2 {
  margin-left: 12%;
  margin-top: 5%;
  border: solid 40px white;
}

/*body fondo*/
.body-index {
  background-image: url(../img/fondo-1.png);
  background-position: 50% 72%;
}

/*media querys*/
@media screen and (max-width: 554px) {
  .encabezado {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    margin-top: 10%;
  }

  .encabezado-1 {
    font-size: 1em;
    margin-top: 10%;
  }

  .body-index {
    background-position: 50% 50%;
    background-size: 100% 28%;
  }

  .imagen-index-2 {
    margin-left: 12%;
    margin-top: 5%;
    border: solid 10px white;
  }

  .palabra-link-2 {
    font-family: "Bebas Neue", cursive;
    color: white;
    font-size: 1em;
    margin-left: 1%;
    text-decoration: underline;
    float: left;
  }
}
@media screen and (min-width: 600px) {
  .encabezado {
    font-size: 2em;
  }

  .encabezado-1 {
    font-size: 2em;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .body-index {
    background-position: 50% 50%;
    background-size: 100% 52%;
  }
}
.body-ir {
  background-image: url(/img/fondo-2.png);
  background-position: 50% 18%;
  width: 100%;
}

.titulo-ir {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 6em;
  margin-top: 5%;
  margin-bottom: 5%;
}

.subtitulo-ir {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 4em;
  margin-top: 5%;
  margin-bottom: 5%;
}

.subtitulo-ir-2 {
  text-align: center;
  align-items: flex-end;
  font-family: "Bebas Neue", cursive;
  font-size: 4em;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
}

.parrafo-ir {
  text-align: left;
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  margin-left: 4%;
  margin-right: 4%;
}

.img-ir {
  width: 40%;
  margin-left: 6%;
  border: solid white 10px;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .titulo-ir {
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 3em;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .parrafo-ir {
    text-align: left;
    font-family: "Bebas Neue", cursive;
    font-size: 1.2em;
    margin-left: 4%;
    margin-right: 4%;
  }

  .subtitulo-ir {
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .subtitulo-ir-2 {
    text-align: center;
    align-items: flex-end;
    font-family: "Bebas Neue", cursive;
    font-size: 2em;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .img-ir {
    width: 80%;
    margin-left: 6%;
    margin-bottom: 6%;
    border: solid white 10px;
    border-radius: 2px;
  }
}
.body-servicios {
  background-image: url(/img/fondo-3.png);
}

.encabezado-s {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 3em;
  margin-top: 2%;
}

.encabezado-s-2 {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 3em;
  margin-top: 30%;
}

.encabezado-s-3 {
  display: flex;
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 3em;
  margin-top: 6%;
  margin-left: 34%;
  margin-bottom: 6%;
}

.encabezado-s-4 {
  display: flex;
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 3em;
  margin-top: 2%;
  margin-left: 40%;
  margin-bottom: 6%;
}

.parrafo-s {
  text-align: left;
  font-family: "Bebas Neue", cursive;
  font-size: 1.4em;
  margin-bottom: 4%;
  color: white;
}

.center {
  display: flex;
  float: left;
}

.img-s-1 {
  width: 50%;
  border: solid white 10px;
  border-radius: 6px;
  margin-bottom: 10%;
  margin-right: 4%;
}

.img-s-2 {
  width: 50%;
  border: solid white 10px;
  border-radius: 6px;
  margin-bottom: 10%;
  margin-left: 24%;
}

.img-s-3 {
  width: 50%;
  border: solid white 10px;
  border-radius: 6px;
  margin-bottom: 6%;
  margin-left: 24%;
}

.subtitulo-s {
  display: flex;
  flex: column;
  text-align: right;
  font-family: "Bebas Neue", cursive;
  font-size: 4em;
  margin-top: 4%;
  color: white;
}

.subtitulo-s-2 {
  display: flex;
  font-family: "Bebas Neue", cursive;
  font-size: 4em;
  margin-top: 4%;
  margin-left: 14%;
  margin-bottom: 4%;
  color: white;
}

.iframe-yt {
  display: flex;
  margin: 6% 0% 0% 23%;
}

/*# sourceMappingURL=prueba.css.map */
