* {
    margin: 0;
    padding: 0;
  }
  header{
      overflow: hidden;
  }
  
  /*letters*/
  
  .encabezado{
      display: flex;
      justify-content: start;
      font-family: "Bebas Neue", cursive;
      color: white;
      font-size: 4em;
      margin-top: 6%;
     
  }
  

  .encabezado-1
  {
      display: flex;
      width: 100%;
      font-family: "Bebas Neue", cursive;
      color: white;
      font-size: 4em;
      margin-top: 6%;
      margin-right: 2%;
  }
  
  .palabra-link
  {
      font-family: "Bebas Neue", cursive;
      color: white;
      font-size: 1em;
      margin-left: 1%;
      text-decoration: underline;
      
  }

  .palabra-link-2
  {
      font-family: "Bebas Neue", cursive;
      color: white;
      font-size: 1em;
      margin-left: 1%;
      text-decoration: underline;
      
  }

  /*img*/
  .img-index
  {
      display: flex;
      
      width: 100%;
  }
  
  .imagen-index-2
  {
     margin-left: 12%;
     margin-top: 5%;
     border: solid 40px white;
  }
  
    /*body fondo*/
    .body-index{
        background-image: url(../img/fondo-1.png);
        background-position:50% 72%;
      
    }
    
    /*media querys*/
    @media screen and (max-width:554px)
    {
        .encabezado
        {   display: flex;
            flex-direction: column;
            font-size: 1em;
            margin-top:10%;
           
        }
  
        .encabezado-1
        {
            font-size: 1em;
            margin-top: 10%;
            
        }
  
        .body-index
        {
          
          background-position: 50% 50%; 
          background-size: 100% 28%;
        }

        .imagen-index-2
        {
           margin-left: 12%;
           margin-top: 5%;
           border: solid 10px white;
        }
        
        .palabra-link-2
        {
            font-family: "Bebas Neue", cursive;
            color: white;
            font-size: 1em;
            margin-left: 1%;
            text-decoration: underline;
            float: left;
           
        }
       
    }
   
    @media screen and (min-width:600px)
    {
        .encabezado
        {
            font-size: 2em;
        }
  
        .encabezado-1
        {   
            
            font-size: 2em;
            margin-top: 6%;
            margin-bottom: 6%;
        }
  
        .body-index
        {
          
          background-position: 50% 50%; 
          background-size: 100% 52%;
        }

        
    }

    