//botstrap
nav{
    background-color: nth($colores,1);
	font-family: 'Bebas Neue', cursive;
	font-size: 2em;
	
}

.letterc{
	color: pink;
	
	&:hover{
		color: nth($colores,2);
	}
}
.color-nav{
	background-color: black;
}