.body-servicios{
    background-image: url(img/fondo-3.png);
}


.encabezado-s{
    
    display: flex;
      justify-content: center;
      font-family: "Bebas Neue", cursive;
      color: white;
      font-size: 3em;
      margin-top: 2%;
     
}

.encabezado-s-2{
    
    display: flex;
      justify-content: center;
      font-family: "Bebas Neue", cursive;
      color: white;
      font-size: 3em;
      margin-top: 30%;
     
}

.encabezado-s-3{
    
      display: flex;
      font-family: "Bebas Neue", cursive;
      color: white;
      font-size: 3em;
      margin-top: 6%;
     margin-left: 34%;
     margin-bottom: 6%;
}

.encabezado-s-4{
    
    display: flex;
    font-family: "Bebas Neue", cursive;
    color: white;
    font-size: 3em;
    margin-top: 2%;
   margin-left: 40%;
   margin-bottom: 6%;
}

.parrafo-s{
    text-align: left;
    font-family: "Bebas Neue", cursive;
    font-size: 1.4em;
    margin-bottom: 4%;
    color: white;

}

.center
{
    display: flex;
    float: left;
}

.img-s-1{
    width: 50%;
     border: solid white 10px;
    border-radius: 6px;
    margin-bottom: 10%;
    margin-right: 4%;
}

.img-s-2{
    width: 50%;
     border: solid white 10px;
    border-radius: 6px;
    margin-bottom: 10%;
    margin-left: 24%;
}

.img-s-3{
    
    width: 50%;
     border: solid white 10px;
    border-radius: 6px;
    margin-bottom: 6%;
    margin-left: 24%;
}

.subtitulo-s{
    display: flex;
    flex: column;
    text-align: right;
    font-family: "Bebas Neue", cursive;
    font-size: 4em;
    margin-top: 4%;
    color: white;
}

.subtitulo-s-2{
    display: flex;
   
    
    font-family: "Bebas Neue", cursive;
    font-size: 4em;
    margin-top: 4%;
    margin-left:14%;
    margin-bottom: 4%;
    color: white;
}


.iframe-yt
{
    display:flex;
    margin:6% 0% 0% 23%;
    
}

   
