.body-servicios
{
    background-image: url(../img/fondo-3.png);
    width: 100%;
}




.encabezado-s-s
{   
    text-align: center;
    font-family: "Bebas Neue", cursive;
    color: white;
    font-size: 6em;
    margin-top: 6%;
}

.encabezado-s-2
{
    text-align: center;
    font-family: "Bebas Neue", cursive;
    color: white;
    font-size: 4em;
    margin-top: 10%;
}


.parrafo-s
{   
    text-align: center;
    font-family: "Bebas Neue", cursive;
    color: white;
    font-size: 3em;
    margin-top: 2%; 
}



.img-s-1
{
    display: block;
    margin: 0% auto;
    width: 40%;
    border: solid white 10px;
    border-radius: 6px;
    margin-bottom: 10%;
}

.img-s-2
{   
    display: block;
    margin: 0% auto;
    width: 40%;
    border: solid white 10px;
    border-radius: 6px;
    margin-bottom: 10%;
}

.img-s-3
{
    display: block;
    margin: 0% auto;
    width: 44%;
    border: solid white 10px;
    border-radius: 6px;
    margin-bottom: 6%;
}

.subtitulo-s
{   
    text-align: center;
    font-family: "Bebas Neue", cursive;
    color: white;
    font-size: 4em;
    margin-top: 4%;
    margin-bottom: 10%;
}

.subtitulo-s-2{
    text-align: center;
    font-family: "Bebas Neue", cursive;
    color: white;
    font-size: 4em;
    margin-top: 4%;
    margin-bottom: 10%;
}


.iframe-yt
{
    display:flex;
    justify-content: center;
    margin-bottom: 4%;
    margin-top: 2%;
}

   
@media screen and (max-width: 500px)
{

    .encabezado-s-s
    {
        font-size: 3em;
        
    }
    
    .parrafo-s
    {
        font-size: 2em;
        
    }

   
    .img-s-1{
        
        width: 80%;
        
    }


    .img-s-2
    {
        width: 80%;
        
    }

    .img-s-3
    {
    
        width: 80%;
    
    }

    .subtitulo-s
    {
        
        font-size: 2em;
        
    }
    
    .subtitulo-s-2
    {
        
        font-size: 2em;
        
    }

    .encabezado-s-2{
    
        
        font-size: 3em;
       
         
    }
    
    
    .iframe-yt
    {
    
    
        width: 100%;

    
    }
    
}