// variables

*{
	margin: 0;
	padding: 0;
}
/*colores principales*/
$colores:
black /*1*/
#1C67B4
#2A9425
pink
white 
red;              /*6*/

/*medidas*/
$w-25:25%;
$w-50:50%;
$w-75:75%;
$w-100:100%;

$d-flex:flex;
$d-block:block;

$py-1:1em 0;
$px-1:0.1em;
$p:20px;




